# Node modules
backend/node_modules/
vite-project/node_modules/
expo-app/node_modules/

# Build output
backend/dist/
vite-project/dist/
expo-app/dist/

# Environment variables
backend/.env
vite-project/.env
expo-app/.env



.DS_Store
