:root {
    --border-color: #e3e3e3;
    --icon-bg-faded: #f4f6f8;
    --icon-color-faded: #7b7b7b;
    --icon-bg-filled-blue: #688afd;
    --icon-bg-filled-green: #68FD8A;
    --icon-bg-filled-red: #FD6868;
    --icon-color-filled: #fff;
    --text-primary: #3d3d3d;
    --text-secondary: #7b7b7b;
    --text-hover: #3b82f6;
    --comment-border: #e3e3e3;
    --comment-shadow: #f4f6f8;
    --comment-hover-bg: #f9f9f9;
    --comment-hover-border: #3b82f6;
    --comment-hover-shadow: rgba(0, 0, 0, 0.1);
}


.card.activitysCard {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    grid-column: span 2;
    grid-row: span 7;
    padding: 32px;
}


.cardHeader {
    width: 100%;
    text-align: left;
    font-size: 1.125rem;
    background-color: white;
}


.activitysCard-container-item {
    display: flex;
    gap: 12px;

    &+* {
        margin-top: 12px;
    }

    &+.extra-space {
        margin-top: 48px;
    }

}

.activity-item-creator {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;

    img {
        display: block;
        max-width: 100%;
        flex-shrink: 0;
    }

    a {
        margin-left: 4px;
        color: var(--text-primary);
        font-weight: 500;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: 0;
            color: var(--text-hover);
        }
    }

    time {
        color: var(--text-secondary);
    }
}

.activity-informations {
    padding: 8px;
}

.activity-item-description {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.comment {
    margin-left: 16px;
    margin-top: 12px;
    color: var(--text-primary);
    border: 1px solid var(--comment-border);
    box-shadow: 0 4px 4px 0 var(--comment-shadow);
    border-radius: 12px;
    padding: 16px;
    transition: all 0.3s ease;
}

.comment:hover {
    background-color: var(--comment-hover-bg);
    border-color: var(--comment-hover-border);
    box-shadow: 0 6px 8px 0 var(--comment-hover-shadow);
    transform: translateY(-4px);
    cursor: pointer;
}

.comment p {
    margin-top: 12px;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(5 * 1.2em);
    line-height: 1.2em;
    margin-bottom: 10px;
}