

.start-button {
    cursor: pointer;
    color: #3B82F6;
}



.start-button:hover {
    transform: scale(1.02);
}



.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #efefef;
    margin-top: 16px;
    border-radius: 32px;
    border: 1px solid #e3e3e3;
    padding: 8px;
    gap: 8px
}

.info-row {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 24px;
    width: 100%;
    justify-content: center;
}

.info-row-header {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    font-weight: 400;


}

.info-row-body {
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 32px;
    gap: 8px;
    font-weight: 500;

}

.additional-info {
    margin-top: 16px;
    padding-left: 8px;

}


.white-info-row {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 16px;
}

.profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #a6f04c;

}

.profile.placeholder:not(:first-child) {
    margin-left: -25px;
}


.profile.placeholder {
    background-color: #ccc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
}




.fade-in-up {
    animation: fadeInUp 0.3s ease forwards;
}

@keyframes fadeInUp {
    from {
        transform: translateY(8px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}