.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    height: 100vh;
    box-sizing: border-box;
}




.dashboard-active {
  grid-column: 1 / 9; 
  grid-row: 1 / 2;     
}

.dashboard-today {
  grid-column: 1 / 6; 
  grid-row: 2 / 3;     
}
/* 
.dashboard-timeline {
    grid-column: 1 / 9;
    grid-row: 3 / 6;
}

.dashboard-activity {
    grid-column: 9 / 13;
    grid-row: 3 / 6;
} */