body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 20px;
    margin: 8px;
    padding: 8px;
  }
  
  /* Styling for the timetable container */
  .timetable-container {
    display: flex;
    padding: 16px;
    background-color: #f0f0f0;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 256px; /* Space for the sidebar on the right */
  }
  
  /* Styling for the timetable content area */
  .timetable-content {
    width: 100%;
    margin: auto;
    height: 90vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow-y: auto;
  }
  
  /* Styling for search bar */
  .search-bar {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders between cells collapse into a single border */
    border-spacing: 0; /* Removes spacing between cells */
    border: none; /* Removes outer border */
  }
  
  /* Table row height */
  tr {
    height: 50px; /* Adjust height as needed */
  }
  
  /* Table header and cell styling */
  th, td {
    border: 1px solid #ddd; /* Inner borders between cells */
    width: 100px; /* Fixed width for cells */
    height: 75px; /* Fixed height for cells */
    text-align: center;
    vertical-align: middle; /* Center content vertically */
    overflow: hidden; /* Hide overflow content */
  }
  
  /* Styling for div elements inside cells */
  td div {
    height: 105%;
    margin: -1px;
  }
  
  td div.lecture {
    border-left: 4px solid #2966E9;
    background: linear-gradient(to left, rgba(41, 102, 233, 0.0), rgba(41, 102, 233, 0.2));
  }
  
  td div.lab {
    border-left: 4px solid #E92935;
    background: linear-gradient(to left, rgba(129, 3, 3, 0), rgba(41, 102, 233, 0.2));
  }
  
  /* Strong text styling inside divs */
  td div strong {
    color: #333;
  }
  