
.view-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
    background-color: var(--background-color);
    padding: 12px;
    border-bottom: 1px solid var(--timetabel-border-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 1;
    box-sizing: border-box;
}

/* Table Styling */
#timetable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-sizing: border-box;
    background-color: var(--background-color);
}

#timetable caption{
    border-bottom: 1px solid var(--timetabel-border-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

thead{
    width: 100%;
}

th {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--timetabel-border-color);
    color: var(--text-color);
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7vw;
    border-right: 1px solid var(--timetabel-border-color);
    border-bottom: 2px solid var(--timetabel-border-color);
}

th:last-child {
    border-right: none;
}


td {
    padding: 6px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: .7vw;
    text-align: center;
    border-top: 1px solid var(--timetabel-border-color);
    border-left: 1px solid var(--timetabel-border-color);
    transition: background-color 0.3s ease;
}

tr:hover td {
    background-color: var(--occupied-occasion-hover-background);
    cursor: pointer;
}

.occupied {
    background-color: var(--occupied-occasion-background);
    justify-content: space-evenly;
    color: var(--occupied-occasion-text-color);
    font-weight: 500;
    text-align: left;
    font-size: .8vw;
    border-left: 4px solid var(--occupied-occasion-border-color); 
    transition: transform 0.3s ease, z-index 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.current {
    border-left: 4px solid #ef4444;
    background-color: #fee2e2;
    color: #b91c1c;
    font-weight: bold;
}

.highlight {
    color: var(--occupied-occasion-text-color);
    font-weight: bold;
    background-color: var(--highlighted-occasion-background);
    border-radius: 4px;
}


.occasionComment {
    display: none;
}

.occasionComment.visible {
    display: block;
    color: white;
}

.occasionCommentLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.occasionCommentLabel:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    z-index: 1;
    position: relative;
}


tr {
    background-color: var(--background-color);
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

tr:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.view-layout {
    background-color: var(--background-color);
    width: 100%;
    border: 2px solid var(--timetabel-border-color);
    border-radius: 16px;
}



.separator {
    width: 2px; /* Width of the separator */
    height: 30px; /* Height of the separator */
    background-color: #ccc; /* Color of the separator */
    margin: 0 10px; /* Space around the separator */
}
