
.sidebar {
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    bottom: 0;
    border-radius: 0;
    width: 200px; 
    height: calc(100vh - 60px);
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    border-right: 1px solid var(--timetabel-border-color);
}



.sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
   
}

.sidebar nav a {
    text-decoration: none;
    color: #808080	;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    width: 100%;
    padding: 16px 18px;
   

}

.sidebar nav a.active {
    border-left: 3px solid #2966E9;
    color : #2966E9;
    background: linear-gradient(to right, rgba(41, 102, 233, 0.25), rgba(41, 102, 233, 0));

    
  }

.sidebar nav a.active:hover {

    background: linear-gradient(to right, rgba(41, 102, 233, 0.15), rgba(41, 102, 233, 0));

}

.sidebar nav a:hover {
    background-color: rgba(187, 223, 236, 0.3);
    transition: ease-in-out 0.2s;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.inner .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
}
