
.top-nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px; /* Align it to the right of the sidebar */
    right: 0;
    height: 60px;
    background: var(--background-color);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid var(--timetabel-border-color);
}

.top-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top-nav-actions {
    display: flex;
    align-items: center;
    color: #fff;
}

