.topnav-container {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100vw - 260px);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    background-color: var(--card);
    border-bottom: 1px solid var(--border);

}

.topnav-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-section {
    display: flex;
    position: relative;
    align-items: center;
    padding: 4px 8px 4px 4px;
    border-radius: 16px;
    height: 45px;
    background-color: var(--bg);
    transition: background-color 0.2s ease-in-out;
    border: 1px solid var(--border);
    width: inherit;
    transition: transform 0.2s ease-in-out;
}

.user-name {
    margin-left: 10px;
    font-weight: 400;
    color: var(--text-soft);
}

.arrow-down {
    margin-left: 8px;
    font-size: 12px;
    color: var(--text-soft);
    transition: transform 0.2s ease-in-out;
}


.profile-section.open .arrow-down {
    transform: rotate(180deg);
}


.profile-section.open {
    background-color: var(--card);
    border-bottom: 1px solid var(--border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 0.2s ease-in-out;
}



.profile-dropdown {
    position: absolute;
    top: 102%;
    left: -1px;
    right: 0;
    background-color: var(--card);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-sm);
    list-style: none;
    padding: 8px;
    z-index: 15;
    border-top: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    min-width: 101%;
    transition: opacity 0.2s ease, transform 0.2s ease;

}

.profile-dropdown li {
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    color: var(--text-soft);

}

.profile-dropdown li:hover {
    color: var(--text-default);
}

.topnav-profile-image {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--border);
}

.topnav-search:hover {
    border-color: var(--primary-color);
    background-color: #f9f9f9;
}

.topnav-profile-image:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}




.current-page-indicator {
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    color: var(--text-default);
}